<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col pe-2">
        <button class="btn btn-lg btn-loa col-12" role="button" aria-haspopup="true" aria-expanded="false"
                routerLink="/search">
          Search
        </button>
      </div>
      <div class="col ps-2">
        <button class="btn btn-lg btn-loa col-12" role="button" aria-haspopup="true" aria-expanded="false"
                routerLink="/dashboard">
          Dashboard
        </button>
      </div>
    </div>
  </div>
</div>
