<div class="row mb-2 mt-2">
  <div class="col">
    <div class="d-grid gap-2">
      <button class="btn btn-lg btn-info" role="button" aria-haspopup="true" aria-expanded="false"
              routerLink="/search">
        Search
      </button>
    </div>
  </div>
  <div class="col">
    <div class="d-grid gap-2">
      <button class="btn btn-lg btn-info" role="button" aria-haspopup="true" aria-expanded="false"
              routerLink="/dashboard">
        Dashboard
      </button>
    </div>
  </div>
</div>
