<div class="row">
    <div class="col-8">
        <div class="form-group">
            <input ng-model="searchText" ng-change="searchTextChanged()" ng-model-options='{ debounce: 1000 }'
                   class="form-control" placeholder="Search for something">
        </div>
    </div>
    <div class="col-4">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" style=" width: 250px;" href="#" role="button"
               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>
            <div class="dropdown-menu" style="max-height: 300px; width: 250px; overflow: auto;">
                <button class="dropdown-item" ng-repeat="language in languages">
                    <img ng-src="./images/flags/{{language[0]}}.png"> - {{language[1]}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-center" style="user-select: none;" ng-if="hits.length > 0">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" style="flex-wrap: wrap;">
                    <li class="page-item">
                        <a class="page-link" ng-click="jumpToPage(page-1)" ng-if="page != 0">Prev</a>
                        <a class="page-link disabled" ng-if="page == 0">Prev</a>
                    </li>
                    <li ng-repeat="x in getPageCountToDisplayOnLeftSide() track by $index" class="page-item">
                        <a class="page-link" ng-bind="x + 1" ng-click="jumpToPage(x)"></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link disabled" ng-bind="page + 1"></a>
                    </li>
                    <li ng-repeat="x in getPageCountToDisplayOnRightSide() track by $index" class="page-item">
                        <a class="page-link" ng-bind="x+1" ng-click="jumpToPage(x)"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-click="jumpToPage(page+1)" ng-if="page != totalPages -1">Next</a>
                        <a class="page-link disabled" ng-if="page == totalPages -1">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row mb-3 text-center" ng-if="hits.length > 0">
    <div class="col">
        <p class="mb-0">
            <small style="font-weight: bold;">Found around {{hitCount}} documents.</small>
        </p>
    </div>
</div>
<div class="row mb-3 text-center" ng-if="hits.length == 0">
    <div class="col">
        <p class="mb-0"><b>Nothing to display (yet)!</b></p>
    </div>
</div>
<div class="row mb-3 search-hit" ng-repeat="hit in hits" ng-if="hits.length > 0">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img ng-src="{{'./images/flags/'+hit.language+'.png'}}"
                     style="float: right; margin-left: 12px;">
                <h5 class="card-title" ng-bind="hit.title" ng-if="hit.title"></h5>
                <h6 class="card-subtitle mb-2 text-muted" ng-bind="hit.author" ng-if="hit.title && hit.author"></h6>
                <p class="card-text" style="text-align: justify; word-break: break-all;"
                   ng-bind-html="hit.description"></p>

                <!-- DOC and the like - downloading -->
                <div ng-if="hit.document.type != 'PDF'" style="float: right;">
                    <a class="btn btn-primary" ng-href="./document/{{hit.document.id}}">
                        Download .{{hit.document.type | lowercase}}</a>
                </div>
                <!-- /DOC and the like - downloading -->

                <!-- PDF - rendering -->
                <div ng-if="hit.document.type == 'PDF'" style="float: right;">
                    <button ng-if="openPdfs[hit.document.id]" class="btn btn-primary"
                            ng-click="openPdf(hit.document.id)">Close .pdf
                    </button>
                    <button ng-if="!openPdfs[hit.document.id]" class="btn btn-primary"
                            ng-click="openPdf(hit.document.id)">Open .pdf
                    </button>
                </div>

                <iframe ng-if="openPdfs[hit.document.id] && hit.document.type == 'PDF'"
                        ng-src="{{'./document/'+hit.document.id}}"
                        style="width: 100%; height: 600px;" frameborder="0" class="mt-3"></iframe>
                <!-- /PDF - rendering -->
            </div>
        </div>
    </div>
</div>
<div class="text-center" style="user-select: none;" ng-if="hits.length > 0">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" ng-click="jumpToPage(page-1)" ng-if="page != 0">Prev</a>
                <a class="page-link disabled" ng-if="page == 0">Prev</a>
            </li>
            <li ng-repeat="x in getPageCountToDisplayOnLeftSide() track by $index" class="page-item">
                <a class="page-link" ng-bind="x + 1" ng-click="jumpToPage(x)"></a>
            </li>
            <li class="page-item active">
                <a class="page-link disabled" ng-bind="page + 1"></a>
            </li>
            <li ng-repeat="x in getPageCountToDisplayOnRightSide() track by $index" class="page-item">
                <a class="page-link" ng-bind="x+1" ng-click="jumpToPage(x)"></a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-click="jumpToPage(page+1)" ng-if="page != totalPages -1">Next</a>
                <a class="page-link disabled" ng-if="page == totalPages -1">Next</a>
            </li>
        </ul>
    </nav>
</div>
