<style>
  .full-size {
    min-height: 234px;
  }
</style>

<div>
  <p class="text-center" style="font-weight: bold;">
    Documents in database:
    <span class="badge bg-secondary"
          [textContent]="((statistics.documentCount / 1000000) | number: '1.2-2') + ' M'"></span>
    |
    Documents indexed:
    <span class="badge bg-secondary"
          [textContent]="((statistics.indexedDocumentCount / 1000000) | number: '1.2-2') + ' M'"></span>
  </p>
</div>

<div class="row gx-3 mb-2">
  <div class="col-lg-7 pb-2">
    <div class="input-group">
      <input [(ngModel)]="searchText" class="form-control" placeholder="Search for something...">
      <button class="btn btn-loa dropdown-toggle" role="button" data-bs-toggle="dropdown">{{resultSize}}</button>
      <ul class="dropdown-menu" style="max-height: 200px; overflow: auto;">
        <li class="dropdown-item" (click)="setResultSize(10)">10</li>
        <li class="dropdown-item" (click)="setResultSize(25)">25</li>
        <li class="dropdown-item" (click)="setResultSize(50)">50</li>
        <li class="dropdown-item" (click)="setResultSize(100)">100</li>
      </ul>
      <span class="input-group-text" id="basic-addon2">results / page</span>
    </div>
  </div>
  <div class="col-lg-2 pb-2">
    <button class="btn btn-loa w-100" (click)="search()">Search</button>
  </div>
  <div class="col-lg-3">
    <div class="dropdown language-dropdown">
      <button class="btn btn-loa col-12 dropdown-toggle" role="button" *ngIf="language === undefined"
              data-bs-toggle="dropdown">Language
      </button>
      <button class="btn btn-loa col-12 btn-lg" *ngIf="language !== undefined" (click)="setLanguage(undefined)"
              style="padding-top: 2px; padding-bottom: 2px; font-size: 1em; line-height: 2em;">
        {{language.code | uppercase}} - {{language.name | titlecase}}
      </button>
      <ul class="dropdown-menu col-12" style="max-height: 200px; overflow: auto;" id="language-dropdown">
        <li class="dropdown-item" *ngFor='let language of languages'
            (click)="setLanguage({code: language[0], name: language[1]})">
          {{language[0] | uppercase}} - {{language[1] | titlecase}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row gx-3 mb-2">
  <div class="col-lg-9 pb-2 text-center">
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="pdf" [(ngModel)]="fileTypes.PDF"
               (change)="setType('PDF')">
        <label class="form-check-label" for="pdf">.pdf</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="doc" [(ngModel)]="fileTypes.DOC"
               (change)="setType('DOC')">
        <label class="form-check-label" for="doc">.doc</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="docx" [(ngModel)]="fileTypes.DOCX"
               (change)="setType('DOCX')">
        <label class="form-check-label" for="docx">.docx</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ppt" [(ngModel)]="fileTypes.PPT"
               (change)="setType('PPT')">
        <label class="form-check-label" for="ppt">.ppt</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="pptx" [(ngModel)]="fileTypes.PPTX"
               (change)="setType('PPTX')">
        <label class="form-check-label" for="pptx">.pptx</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xls" [(ngModel)]="fileTypes.XLS"
               (change)="setType('XLS')">
        <label class="form-check-label" for="xls">.xls</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xlsx" [(ngModel)]="fileTypes.XLSX"
               (change)="setType('XLSX')">
        <label class="form-check-label" for="xlsx">.xlsx</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="rtf" [(ngModel)]="fileTypes.RTF"
               (change)="setType('RTF')">
        <label class="form-check-label" for="rtf">.rtf</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="epub" [(ngModel)]="fileTypes.EPUB"
               (change)="setType('EPUB')">
        <label class="form-check-label" for="epub">.epub</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="mobi" [(ngModel)]="fileTypes.MOBI"
               (change)="setType('MOBI')">
        <label class="form-check-label" for="mobi">.mobi</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fb2" [(ngModel)]="fileTypes.FB2"
               (change)="setType('FB2')">
        <label class="form-check-label" for="mobi">.fb2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="txt" [(ngModel)]="fileTypes.TXT"
               (change)="setType('TXT')">
        <label class="form-check-label" for="mobi">.txt</label>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="dropdown document-length-dropdown">
      <button class="btn btn-loa col-12 dropdown-toggle" role="button" *ngIf="documentLength === undefined"
              data-bs-toggle="dropdown">Document Length
      </button>
      <button class="btn btn-loa col-12" *ngIf="documentLength !== undefined"
              (click)="setDocumentLength(undefined)"
              style="padding-top: 2px; padding-bottom: 2px; height: 38px;">
        {{documentLength[1]}}
      </button>
      <ul class="dropdown-menu col-12" style="max-height: 200px; overflow: auto;" id="length-dropdown">
        <li class="dropdown-item" *ngFor="let documentLength of documentLengths"
            (click)="setDocumentLength(documentLength)">
          {{documentLength[1]}}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Top pager -->
<div class="row">
  <div class="col">
    <div class="text-center" style="user-select: none;" *ngIf="hits.length > 0">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="flex-wrap: wrap;">
          <li class="page-item">
            <a class="page-link" (click)="jumpToPage(page-1)" *ngIf="page != 0">Prev</a>
            <a class="page-link disabled" *ngIf="page == 0">Prev</a>
          </li>
          <li *ngFor="let pageOffsetLeft of getPageCountToDisplayOnLeftSide()" class="page-item">
            <a class="page-link" (click)="jumpToPage(pageOffsetLeft)">{{pageOffsetLeft + 1}}</a>
          </li>
          <li class="page-item active">
            <a class="page-link disabled">{{page + 1}}</a>
          </li>
          <li *ngFor="let pageOffsetRight of getPageCountToDisplayOnRightSide()" class="page-item">
            <a class="page-link" (click)="jumpToPage(pageOffsetRight)">{{pageOffsetRight + 1}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="jumpToPage(page+1)" *ngIf="page != totalPages -1">Next</a>
            <a class="page-link disabled" *ngIf="page == totalPages -1">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Search results -->
<div class="row mb-3 text-center" *ngIf="hits.length > 0">
  <div class="col">
    <p class="mb-0">
      <small style="font-weight: bold;">Found around {{hitCount}} documents.</small>
    </p>
  </div>
</div>

<div class="row mb-3 text-center" *ngIf="hits.length == 0 && !loading">
  <div class="col">
    <p class="mb-0" style="font-weight: 700;">Nothing to display (yet)!</p>
  </div>
</div>

<div class="spin-wrapper" *ngIf="loading">
  <div class="spinner">
  </div>
</div>

<div class="row mb-3 search-hit" *ngFor="let hit of hits">
  <ng-container *ngIf="hits.length > 0 && !loading">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <span style="float: right; font-weight: bold; font-size: 1rem;">
              {{hit.language | uppercase}} - {{getLanguageName(hit.language) | titlecase}}
          </span>

          <h5 class="card-title" *ngIf="hit.title">
            {{hit.title}}
          </h5>

          <!-- If there is no known title, we should show something because the author will be misplaced. -->
          <h5 class="card-title" *ngIf="!hit.title">
            Unknown Title
          </h5>

          <h6 class="card-subtitle mb-2 text-muted" *ngIf="hit.author">
            {{hit.author}}
          </h6>

          <div class="media">
            <!-- The PDF documents have an image. -->
            <div *ngIf="hit.type == 'PDF'">
              <div class="spin-wrapper" style="width: 200px; height: 278px; float: left;"
                   *ngIf="!isImageLoaded(hit.id)">
                <div class="spinner"></div>
              </div>

              <img [src]="'/document/' + hit.id + '/image'" [alt]="hit.title"
                   (load)="setImageLoaded(hit.id, $event)" class="img-thumbnail me-3"
                   style="display:none; width: 200px; height: 278px; float: left;"/>
            </div>

            <div class="media-body" [ngClass]="{ 'full-size': hit.type == 'PDF' }">
              <div *ngFor="let description of hit.description; let last = last;">
                <p [innerHtml]="description" class="card-text text-justify"></p>
                <hr *ngIf="!last">
              </div>
            </div>
          </div>

          <div class="mt-3 text-end">
            <span *ngIf="hit.type == 'PDF'">
              <span class="me-3 fw-bold">{{hit.pageCount}} pages</span>

              <button *ngIf="openPdfs.has(hit.id) && openPdfs.get(hit.id)"
                      class="btn btn-loa btn-sm me-2 d-none d-sm-inline-block"
                      (click)="openPdf(hit.id)" style="min-width: 135px; max-width: 180px; width: 20%;">
                Close .pdf
              </button>

              <button *ngIf="!openPdfs.has(hit.id) || !openPdfs.get(hit.id)"
                      class="btn btn-loa btn-sm me-2 d-none d-sm-inline-block"
                      (click)="openPdf(hit.id)" style="min-width: 135px; max-width: 180px; width: 20%;">
                Open .pdf
              </button>
            </span>

            <a class="btn btn-loa btn-sm" href="./document/{{hit.id}}" download target="_blank"
               style="min-width: 135px; max-width: 180px; width: 20%;">
              Download .{{hit.type | lowercase}}
            </a>
          </div>

          <!-- The iframe where the PDF documents should be opened. -->
          <iframe *ngIf="openPdfs.has(hit.id) && openPdfs.get(hit.id) && hit.type == 'PDF'"
                  [src]="getDocumentUrl(hit.id)" style="height: 600px; border: 0;"
                  class="mt-3 d-none d-sm-block w-100"></iframe>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Bottom pager -->
<div class="row">
  <div class="col">
    <div class="text-center" style="user-select: none;" *ngIf="hits.length > 0">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="flex-wrap: wrap;">
          <li class="page-item">
            <a class="page-link" (click)="jumpToPage(page-1)" *ngIf="page != 0">Prev</a>
            <a class="page-link disabled" *ngIf="page == 0">Prev</a>
          </li>
          <li *ngFor="let pageOffsetLeft of getPageCountToDisplayOnLeftSide()" class="page-item">
            <a class="page-link" (click)="jumpToPage(pageOffsetLeft)">{{pageOffsetLeft + 1}}</a>
          </li>
          <li class="page-item active">
            <a class="page-link disabled">{{page + 1}}</a>
          </li>
          <li *ngFor="let pageOffsetRight of getPageCountToDisplayOnRightSide()" class="page-item">
            <a class="page-link" (click)="jumpToPage(pageOffsetRight)">{{pageOffsetRight + 1}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="jumpToPage(page+1)" *ngIf="page != totalPages -1">Next</a>
            <a class="page-link disabled" *ngIf="page == totalPages -1">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
