<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Basic statistics</h5>
        Document count: {{statistics.documentCount}}
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Documents by status</h5>
        <div class="row">
            <div class="col" ng-repeat="(key, value) in statistics.documentCountByStatus">
                <div ng-bind="key"></div>
                <div ng-bind="value"></div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Documents by type</h5>
        <div class="row">
            <div class="col-3" ng-repeat="(key, value) in statistics.documentCountByType">
                <div ng-bind="key"></div>
                <div ng-bind="value"></div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Document collection chart</h5>
        <div>
            <canvas id="myChart" width="200" height="400"></canvas>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Queues</h5>
        <div class="row">
            <div class="col" ng-repeat="queue in statistics.queues">
                <div ng-bind="queue.name"></div>
                <div ng-bind="queue.messageCount"></div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Vault instances</h5>
        <div class="row">
            <div class="col-4" ng-repeat="vault in statistics.vaultInstances">
                <div>Name: {{vault.name}}</div>
                <div>Free space: {{vault.availableStorageInBytes | bytes}}</div>
            </div>
        </div>
    </div>
</div>