<div>
  <p class="text-center" style="font-weight: bold;">
    Documents in database:
    <span class="badge badge-secondary"
          [textContent]="((statistics.documentCount / 1000000) | number: '1.2-2') + ' M'"></span>
    |
    Documents indexed:
    <span class="badge badge-secondary"
          [textContent]="((statistics.indexedDocumentCount / 1000000) | number: '1.2-2') + ' M'"></span>
  </p>
</div>

<div class="row">
  <div class="col-9 pr-0">
    <div class="form-group">
      <input [(ngModel)]="searchText" (ngModelChange)='changed($event)' class="form-control"
             placeholder="Search for something">
    </div>
  </div>
  <div class="col-3">
    <div class="dropdown language-dropdown">
      <button class="btn btn-info btn-block dropdown-toggle" role="button" *ngIf="language === undefined"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language
      </button>
      <button class="btn btn-info btn-lg btn-block" *ngIf="language !== undefined" (click)="setLanguage(undefined)"
              style="padding-top: 2px; padding-bottom: 2px; font-size: 1em; line-height: 2em;">
        {{language.code | uppercase}} - {{language.name | titlecase}}
      </button>
      <div class="dropdown-menu btn-block mt-0" style="max-height: 300px; overflow: auto;">
        <button class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" *ngFor='let language of languages'
                (click)="setLanguage({code: language[0], name: language[1]})">
          {{language[0] | uppercase}} - {{language[1] | titlecase}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-9 pr-0 text-center">
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="pdf" [(ngModel)]="fileTypes.PDF"
               (change)="refreshHits()">
        <label class="form-check-label" for="pdf">.pdf</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="doc" [(ngModel)]="fileTypes.DOC"
               (change)="refreshHits()">
        <label class="form-check-label" for="doc">.doc</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ppt" [(ngModel)]="fileTypes.PPT"
               (change)="refreshHits()">
        <label class="form-check-label" for="ppt">.ppt</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="rtf" [(ngModel)]="fileTypes.RTF"
               (change)="refreshHits()">
        <label class="form-check-label" for="rtf">.rtf</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xls" [(ngModel)]="fileTypes.XLS"
               (change)="refreshHits()">
        <label class="form-check-label" for="xls">.xls</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="docx" [(ngModel)]="fileTypes.DOCX"
               (change)="refreshHits()">
        <label class="form-check-label" for="docx">.docx</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xlsx" [(ngModel)]="fileTypes.XLSX"
               (change)="refreshHits()">
        <label class="form-check-label" for="xlsx">.xlsx</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="epub" [(ngModel)]="fileTypes.EPUB"
               (change)="refreshHits()">
        <label class="form-check-label" for="epub">.epub</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="mobi" [(ngModel)]="fileTypes.MOBI"
               (change)="refreshHits()">
        <label class="form-check-label" for="mobi">.mobi</label>
      </div>
    </div>
  </div>
  <!--<div class="col-3">
    <div class="dropdown document-length-dropdown">
      <button class="btn btn-info btn-block dropdown-toggle" role="button" ng-if="documentLength === undefined"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Document Length
      </button>
      <button class="btn btn-info btn-block" ng-if="documentLength !== undefined"
              ng-click="setDocumentLength(undefined)"
              style="padding-top: 2px; padding-bottom: 2px; height: 38px;">
        {{documentLength[1]}}
      </button>
      <div class="dropdown-menu btn-block mt-0" style="max-height: 300px; overflow: auto;">
        <button class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" ng-repeat="documentLength in documentLengths"
                ng-click="setDocumentLength(documentLength)">{{documentLength[1]}}
        </button>
      </div>
    </div>
  </div>-->
</div>

<!--
<div class="row">
  <div class="col">
    <div class="text-center" style="user-select: none;" ng-if="hits.length > 0">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="flex-wrap: wrap;">
          <li class="page-item">
            <a class="page-link" ng-click="jumpToPage(page-1)" ng-if="page != 0">Prev</a>
            <a class="page-link disabled" ng-if="page == 0">Prev</a>
          </li>
          <li ng-repeat="x in getPageCountToDisplayOnLeftSide() track by $index" class="page-item">
            <a class="page-link" ng-bind="x + 1" ng-click="jumpToPage(x)"></a>
          </li>
          <li class="page-item active">
            <a class="page-link disabled" ng-bind="page + 1"></a>
          </li>
          <li ng-repeat="x in getPageCountToDisplayOnRightSide() track by $index" class="page-item">
            <a class="page-link" ng-bind="x+1" ng-click="jumpToPage(x)"></a>
          </li>
          <li class="page-item">
            <a class="page-link" ng-click="jumpToPage(page+1)" ng-if="page != totalPages -1">Next</a>
            <a class="page-link disabled" ng-if="page == totalPages -1">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="row mb-3 text-center" ng-if="hits.length > 0">
  <div class="col">
    <p class="mb-0">
      <small style="font-weight: bold;">Found around {{hitCount}} documents.</small>
    </p>
  </div>
</div>
<div class="row mb-3 text-center" ng-if="hits.length == 0 && !loading">
  <div class="col">
    <p class="mb-0"><b>Nothing to display (yet)!</b></p>
  </div>
</div>
<div class="spin-wrapper" ng-if="loading">
  <div class="spinner">
  </div>
</div>
<div class="row mb-3 search-hit" ng-repeat="hit in hits" ng-if="hits.length > 0 && !loading">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" ng-bind="hit.title" ng-if="hit.title"></h5>
        <h6 class="card-subtitle mb-2 text-muted" ng-bind="hit.author" ng-if="hit.title && hit.author"></h6>
        <p class="card-text" style="text-align: justify; word-break: break-all;"
           ng-bind-html="hit.description"></p>

        <div ng-if="hit.type != 'PDF'" style="width: 100%; height: 32px; line-height: 32px;">
          <span style="float: left; font-weight: bold;">{{hit.language | uppercase}} - {{languages[hit.language] | capitalize}}</span>
          <a class="btn btn-primary btn-sm w-25" ng-href="./document/{{hit.id}}"
             style="float: right; min-width: 135px;">
            Download .{{hit.type | lowercase}}</a>
        </div>

        <div ng-if="hit.type == 'PDF'" style="width: 100%; height: 32px; line-height: 32px;">
          <button ng-if="openPdfs[hit.id]" class="btn btn-primary btn-sm w-25"
                  ng-click="openPdf(hit.id)" style="float: right; min-width: 135px;">Close .pdf
          </button>
          <button ng-if="!openPdfs[hit.id]" class="btn btn-primary btn-sm w-25"
                  ng-click="openPdf(hit.id)" style="float: right; min-width: 135px;">Open .pdf
          </button>
          <span style="float: left; font-weight: bold;">{{hit.language | uppercase}} - {{languages[hit.language] | capitalize}}</span>
          <span style="float: right; font-weight: bold;" class="mr-3">{{hit.pageCount}} pages</span>
        </div>

        <iframe ng-if="openPdfs[hit.id] && hit.type == 'PDF'"
                ng-src="{{'./document/'+hit.id}}"
                style="width: 100%; height: 600px;" frameborder="0" class="mt-3"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="text-center" style="user-select: none;" ng-if="hits.length > 0">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" ng-click="jumpToPage(page-1)" ng-if="page != 0">Prev</a>
        <a class="page-link disabled" ng-if="page == 0">Prev</a>
      </li>
      <li ng-repeat="x in getPageCountToDisplayOnLeftSide() track by $index" class="page-item">
        <a class="page-link" ng-bind="x + 1" ng-click="jumpToPage(x)"></a>
      </li>
      <li class="page-item active">
        <a class="page-link disabled" ng-bind="page + 1"></a>
      </li>
      <li ng-repeat="x in getPageCountToDisplayOnRightSide() track by $index" class="page-item">
        <a class="page-link" ng-bind="x+1" ng-click="jumpToPage(x)"></a>
      </li>
      <li class="page-item">
        <a class="page-link" ng-click="jumpToPage(page+1)" ng-if="page != totalPages -1">Next</a>
        <a class="page-link disabled" ng-if="page == totalPages -1">Next</a>
      </li>
    </ul>
  </nav>
</div>
-->
