<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-9 pe-0">
        <input placeholder="Document Id" class="form-control" [(ngModel)]="documentId">
      </div>
      <div class="col-3">
        <button class="btn btn-loa col-12" (click)="queryDocument()">Search</button>
      </div>
    </div>

    <div class="spin-wrapper" *ngIf="loading">
      <div class="spinner">
      </div>
    </div>

    <div class="text-center mt-3" *ngIf="notFound">
      <b>Document with the provided Id cannot be found in the database!</b>
    </div>

    <div class="row mt-3" *ngIf="document">
      <div class="col-6">
        <dl class="mb-0">
          <dt>Id:</dt>
          <dd>{{document.id}}</dd>
          <dt>Vault:</dt>
          <dd>{{document.vault}}</dd>
          <dt>Status:</dt>
          <dd>{{document.status}}</dd>
          <dt>Type:</dt>
          <dd>{{document.type}}</dd>
          <dt>Compression:</dt>
          <dd>{{document.compression}}</dd>
          <dt>Is present in vault:</dt>
          <dd>{{document.inVault}}</dd>
          <dt>Is present in index:</dt>
          <dd>{{document.inIndex}}</dd>
        </dl>
      </div>
      <div class="col-6">
        <dl class="mb-0">
          <dt>Checksum:</dt>
          <dd>{{document.checksum}}</dd>
          <dt>File size:</dt>
          <dd>{{document.fileSize}}</dd>
          <dt>Download date:</dt>
          <dd>{{document.downloadDate}}</dd>
          <dt>Download version:</dt>
          <dd>{{document.downloaderVersion}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
