<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Queue Applications</h5>
    <div class="row">
      <div class="col-4" *ngFor="let queue of applications.queues">
        <div class="card">
          <div class="card-body">
            <p class="m-0">Host: {{queue.host}}</p>
            <p class="m-0">Port: {{queue.port}}</p>
            <p class="m-0">Messages in location queue: {{queue.documentLocationQueueCount}}</p>
            <p class="m-0">Messages in archiving queue: {{queue.documentArchivingQueueCount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Vault Applications</h5>
    <div class="row">
      <div class="col-4" *ngFor="let vault of applications.vaults">
        <div class="card">
          <div class="card-body">
            <p class="m-0">Host: {{vault.host}}</p>
            <p class="m-0">Port: {{vault.port}}</p>
            <p class="m-0">Free space: {{vault.freeSpace | bytes}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Generator Applications</h5>
    <div class="row">
      <div class="col-4" *ngFor="let generator of applications.generators">
        <div class="card">
          <div class="card-body">
            <p class="m-0">Host: {{generator.host}}</p>
            <p class="m-0">Port: {{generator.port}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Downloader Applications</h5>
    <div class="row">
      <div class="col-4" *ngFor="let downloader of applications.downloaders">
        <div class="card">
          <div class="card-body">
            <p class="m-0">Host: {{downloader.host}}</p>
            <p class="m-0">Port: {{downloader.port}}</p>
            <p class="m-0">Parallelism: {{downloader.parallelism}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Indexer Applications</h5>
    <div class="row">
      <div class="col-4" *ngFor="let indexer of applications.indexers">
        <div class="card">
          <div class="card-body">
            <p class="m-0">Host: {{indexer.host}}</p>
            <p class="m-0">Port: {{indexer.port}}</p>
            <p class="m-0">Parallelism: {{indexer.parallelism}}</p>
            <p class="m-0">Batch size: {{indexer.batchSize}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Administrator Applications</h5>
    <div class="row">
      <div class="col-4" *ngFor="let administrator of applications.administrators">
        <div class="card">
          <div class="card-body">
            <p class="m-0">Host: {{administrator.host}}</p>
            <p class="m-0">Port: {{administrator.port}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
